@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-file-upload-button {
  background-color: #fefefe;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 0px 0px;
  color: #c20003;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background-color: #c20003;
  color: #fefefe;
  transition: all 0.5s ease;
}
.red{
  color: #c20003;
}